<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NutritionAndHealthCareManagementSystem"
        android:windowSoftInputMode="adjustResize"
        tools:targetApi="31">
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".UserTypeSelection" />
        <activity android:name=".UserOnboard" />
        <activity android:name=".UserLogin" />
        <activity android:name=".UserSignup" />
        <activity android:name=".UserResetPassword" />
        <activity android:name=".Home" />
        <activity android:name=".BMICalculation" />
        <activity android:name=".MemberSettings" />
        <activity android:name=".NutritionistSettings" />
        <activity android:name=".UserProfile" />
        <activity android:name=".NutritionistContentPosting" />
        <activity android:name=".AppointmentBooking" />
        <activity android:name=".EditAppointment" />
        <activity android:name=".ActiveAppointmentsReport" />
        <activity android:name=".AppointmentsHistoryReport" />
        <activity android:name=".EditUserProfile" />

        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>
</manifest>